In [2]:
x , y = input("  HELO GUTLAY ENTER THE VALUES  ").split()

print(x, y)

4 5

In [6]:
a , b ,c = int(input("enter sex boy values ")).split()

print(a,b,c)

ValueError: invalid literal for int() with base 10: '1 5 6 '

In [8]:
g = int(input("enter the cvalues ")) 
print(g)

ValueError: invalid literal for int() with base 10: '2.5555454'

In [10]:
j = float(input("enter the flot values only")) 
print(j)

5555.0

In [13]:
print("welcome to ",end= "")
print("  india")

welcome to   india

In [16]:
print("\n","welcome to india","\n","welcome to hyd")

 welcome to india
 welcome to hyd

In [20]:
print("helo hai how are you ", 2000 ,  sep= 'fuck         ')

helo hai how are you fuck         2000

In [24]:
print('helo' +              ' hai' )

print('helo'               ' hai' )

helo hai
helo hai

In [33]:
x = 5 
y = 7

print('the value  of {}  {} '.format(x,y) ,type(x))

print('the value  of   ', x ,y )

print('the   {} {} ', x,y )

print(x,y)

the value  of 5  7  <class 'int'>
the value  of    5 7
the   {} {}  5 7
5 7

In [ ]:
v = "anji"
b = 34

print(v,b)
print(f"helo, {v}!  you are {b} good   .   ")

print("helo, {v}!  you are {b} good   .   ")

print(f"helogood  ")

anji 34
helo, anji!  you are 34 good   .
helo, {v}!  you are {b} good   .
helogood

In [59]:
item = "apple"
price = 1.99
print(f"Item: {item:<10} Price: ${price}")

print(f"Item: {item:>20} Price: ${price:>5.2f}")

Item: apple      Price: $1.99
Item:                apple Price: $ 1.99

In [58]:
large_number = 1000000
print(f"The population is {large_number:,}.")

The population is 1,000,000.

In [4]:
a = 5

b = 2

print(a+b)
print(a-b)

print(a*b) 

print(a/b)
print(a//b)
print(a%b)
print(a**b)

7
3
10
2.5
2
1
25

In [ ]:
#addtion assignment 
#subtraction assignment 
#

a = 5

b = 7 

c = a+b 
a += b
print(c,a)

12 12

In [8]:
#subtraction assignment 
a = 100
b = 50 
a-=50
print(a)

50

In [ ]:
g = 27
h = 3
i = 12
k = 11
l = 22
g/=h  #g=27/h=3 = 2.6
i//=h #i=12//3 == 4
k%=h  #k=11 %%%%%%% 3


print(g,"\n",i,"\n",k)

9.0
 4
 2

In [ ]:
p = 17
q = 3
r = 5

p-=q  #p=17 - 3  = 14 


print(p)

p*=q   #p=14*3 == 42 
print(p)
p**=q  #p = 42x42x42 = 74088
print(p)

14
42
74088

In [ ]:

d = 55
f = 7898
d&=f
print(d)



0000000000110111
0001111011011010

0000000000010010

18

In [ ]:
d = 55
f = 7898
d|=f
print(d)

0000000000110111
0001111011011010

0001111011111111

7935

In [32]:
s = 88
f = 55

s^= f 

print(s)

111

In [37]:
d = 16
f = 2
d>>=f
print(d)

4

In [39]:
m = 2
n = 1

m>>=n
print(m)

1

In [40]:
u = 2 
v = 1
u<<=v
print(u)

4

In [41]:
a = 5 
b = 3
c = 8

print(a==b) 
print(b==c)

False
False

In [42]:
z =99 
y = 44
x =678

print(y<x)
print(z>x)

True
False

In [43]:
g = 5 
f = 77
k = 89

print(f>=k) 
print(k<=g)
print(g<=f)

False
False
True

In [45]:
z = 25

print(45>=z>411)
print(12<=z>156)
print(4<=z<=445)
print(25!=z<100)

False
False
True
False

In [47]:
a = 44
b = 555
c = -88
if a > 0 and b > 0:
    print("the numbers are greater than 0") 
if a > 0 and b > 0 and c >  0:
    print("the numbers aRE GRETER THAN 0")
else:
    print("atleast one number is not greater than 0")

the numbers are greater than 0
atleast one number is not greater than 0

In [51]:
a = 88
c = -44
b  = -68
if a > 0 or b > 0:
    print("1.either of the number is greater than 00000") 
else: 
    print("2.NO NUMBER IS GREATER THAN 0")
if b > 0 or c > 0:
    print("3.EITHER either OF THE number is greater than 0" )
else: 
    print("4.xxxNO NUMBER IS greater than 0")

1.either of the number is greater than 00000
4.xxxNO NUMBER IS greater than 0

In [52]:
a = 56
if not a:
    print("boolean value of a is true")
if not (a % 3 == 0  or a % 8 == 0):
        print("56 is not divisible by either 3 or 8")

else:
      print("56 is divisible by either 3  or 5 ")

56 is divisible by either 3  or 5

In [56]:
a = 64
if a:
    print("boolean value of a is true")

if (a % 3 == 0  or a % 8 == 0):
        print("56 is  divisible by either 3 or 8")

else:
      print("56 is not  divisible by either 3  or 5 ")

boolean value of a is true
56 is  divisible by either 3 or 8

In [61]:
def check(x):
    print("method called for value", x)
    return x > 0

a = check
b = check
c = check 
d = check

if a(-1) or b(-5) or c(-10) or d(14):
    print("at least one of the number is positive")

method called for value -1
method called for value -5
method called for value -10
method called for value 14
at least one of the number is positive

In [69]:
a = [1,2,3,4]
b = [1,2,3,4]

c = a 

print(a is not  c)
print(a is not b)

print("id-a",id(a))

print("id-c",id(c))

print("id-b",id(b))

False
True
id-a 128208952733184
id-c 128208952733184
id-b 128208968139712

In [73]:
a="anjireddy"
b=a

print("id-a,b",id(a),id(b))

print(a is b)
print(b is a)

id-a,b 128208968384048 128208968384048
True
True

In [75]:
d = [1 ,8,9,4,6,5] 
print(8 in d)

print(1112 in d)

True
False

In [79]:
v = "fndsfkldsfklsdtyetjrvet v npoethacgdfasjkoduiwedqw0eiwixmpnort"

print("g" in v)

print("sex" in v)

True
False

In [82]:
c = {"name":"anji", "age":34}
print("anji" in c) 
print("name" in c)

print("anji" in c.values())

False
True
True

In [83]:
s = ["ram","kick","bny","visa"] 

t = "bny" 
if t in s:
    print("available")
else:
    print("not-available")

available

In [84]:
marks = 80 
result = ""
if marks < 30:
   result = "Failed"
elif marks > 75:
   result = "Passed with distinction"
else:
   result = "Passed"

print(result)

Passed with distinction

In [92]:
m = int(input("enter the marks values"))


if m < 30:
    r= "failed"
elif m > 75:
    r = "passed with distinction" 
else: 
    r = "passed"
print(r)

passed

In [ ]:
w = [4,8,5,8,7,85,4,8,4,5,4]
for i in w:
    print(i,end=",")

4,4
8,8
5,5
8,8
7,7
85,85
4,4
8,8
4,4
5,5
4,4

In [111]:
for i in range(1,5):
    print(i,sep=",")

1
2
3
4

In [127]:
for i in range(1,100,5):
    print(i,end=",")

1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96,

In [125]:
i = 1 
while i <= 100:
    print(i,end=",")
    i += 1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [2]:
print("helio")

for i in range(1,10):
    print(i,end=",")

helio
1,2,3,4,5,6,7,8,9,

In [9]:
x = 0
while x < 10:

    print(x,end=",")
    if x == 3:
        #print("breaking")
        break

    x += 1

0,1,2,3,

In [15]:

a = 5
while a <= 15:
    print(a,end=",")
    a += 1

5,6,7,8,9,10,11,12,13,14,15,

In [19]:
for letter in "anjireddyvelpulavenkata":
    if letter == "r":
        continue
    print("current letter ", letter)

current letter  a
current letter  n
current letter  j
current letter  i
current letter  e
current letter  d
current letter  d
current letter  y
current letter  v
current letter  e
current letter  l
current letter  p
current letter  u
current letter  l
current letter  a
current letter  v
current letter  e
current letter  n
current letter  k
current letter  a
current letter  t
current letter  a

In [32]:
for letter  in ["aaaaaaaaaaaaaaaaaaaaaaa","bbbbbbbbbbb","cc","ffff","tt"]:
    #print(letter,end=",")
    if letter == "cc":
        #print(letter)
        break
    print(letter)

aaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbb

In [39]:
def anji(n):
    return n % 2 == 0

n = int(input("enter the value"))
#n =5
if anji(n):  
    print(n ,"is even number")
else:
    print(n," is odd number",n)

56 is even number

In [46]:
def kick(x):
    match x:

        case 1:
            print(x)
        case 2:
            print(x)
        case _:
            print("no one case matched total different number")        
kick(1)
kick(125)

1
no one case matched total different number

In [49]:
def kaira(x):
    match x:
        case 10 | 20 | 30:
            print(f"matched: {x}")
        case _:
            print("no match case found")    

kaira(10)
kaira(20)
kaira(25)

matched: 10
matched: 20
no match case found