In [2]:
x , y = input("  HELO GUTLAY ENTER THE VALUES  ").split()

print(x, y)

4 5

In [1]:
a , b ,c = int(input("enter sex boy values ")).split()

print(a,b,c)

AttributeError: 'int' object has no attribute 'split'

In [8]:
g = int(input("enter the cvalues ")) 
print(g)

ValueError: invalid literal for int() with base 10: '2.5555454'

In [10]:
j = float(input("enter the flot values only")) 
print(j)

5555.0

In [13]:
print("welcome to ",end= "")
print("  india")

welcome to   india

In [16]:
print("\n","welcome to india","\n","welcome to hyd")

 welcome to india
 welcome to hyd

In [20]:
print("helo hai how are you ", 2000 ,  sep= 'fuck         ')

helo hai how are you fuck         2000

In [24]:
print('helo' +              ' hai' )

print('helo'               ' hai' )

helo hai
helo hai

In [33]:
x = 5 
y = 7

print('the value  of {}  {} '.format(x,y) ,type(x))

print('the value  of   ', x ,y )

print('the   {} {} ', x,y )

print(x,y)

the value  of 5  7  <class 'int'>
the value  of    5 7
the   {} {}  5 7
5 7

In [ ]:
v = "anji"
b = 34

print(v,b)
print(f"helo, {v}!  you are {b} good   .   ")

print("helo, {v}!  you are {b} good   .   ")

print(f"helogood  ")

anji 34
helo, anji!  you are 34 good   .
helo, {v}!  you are {b} good   .
helogood

In [59]:
item = "apple"
price = 1.99
print(f"Item: {item:<10} Price: ${price}")

print(f"Item: {item:>20} Price: ${price:>5.2f}")

Item: apple      Price: $1.99
Item:                apple Price: $ 1.99

In [58]:
large_number = 1000000
print(f"The population is {large_number:,}.")

The population is 1,000,000.

In [4]:
a = 5

b = 2

print(a+b)
print(a-b)

print(a*b) 

print(a/b)
print(a//b)
print(a%b)
print(a**b)

7
3
10
2.5
2
1
25

In [ ]:
#addtion assignment 
#subtraction assignment 
#

a = 5

b = 7 

c = a+b 
a += b
print(c,a)

12 12

In [8]:
#subtraction assignment 
a = 100
b = 50 
a-=50
print(a)

50

In [ ]:
g = 27
h = 3
i = 12
k = 11
l = 22
g/=h  #g=27/h=3 = 2.6
i//=h #i=12//3 == 4
k%=h  #k=11 %%%%%%% 3


print(g,"\n",i,"\n",k)

9.0
 4
 2

In [ ]:
p = 17
q = 3
r = 5

p-=q  #p=17 - 3  = 14 


print(p)

p*=q   #p=14*3 == 42 
print(p)
p**=q  #p = 42x42x42 = 74088
print(p)

14
42
74088

In [ ]:

d = 55
f = 7898
d&=f
print(d)



0000000000110111
0001111011011010

0000000000010010

18

In [ ]:
d = 55
f = 7898
d|=f
print(d)

0000000000110111
0001111011011010

0001111011111111

7935

In [32]:
s = 88
f = 55

s^= f 

print(s)

111

In [37]:
d = 16
f = 2
d>>=f
print(d)

4

In [39]:
m = 2
n = 1

m>>=n
print(m)

1

In [40]:
u = 2 
v = 1
u<<=v
print(u)

4

In [41]:
a = 5 
b = 3
c = 8

print(a==b) 
print(b==c)

False
False

In [42]:
z =99 
y = 44
x =678

print(y<x)
print(z>x)

True
False

In [43]:
g = 5 
f = 77
k = 89

print(f>=k) 
print(k<=g)
print(g<=f)

False
False
True

In [45]:
z = 25

print(45>=z>411)
print(12<=z>156)
print(4<=z<=445)
print(25!=z<100)

False
False
True
False

In [47]:
a = 44
b = 555
c = -88
if a > 0 and b > 0:
    print("the numbers are greater than 0") 
if a > 0 and b > 0 and c >  0:
    print("the numbers aRE GRETER THAN 0")
else:
    print("atleast one number is not greater than 0")

the numbers are greater than 0
atleast one number is not greater than 0

In [51]:
a = 88
c = -44
b  = -68
if a > 0 or b > 0:
    print("1.either of the number is greater than 00000") 
else: 
    print("2.NO NUMBER IS GREATER THAN 0")
if b > 0 or c > 0:
    print("3.EITHER either OF THE number is greater than 0" )
else: 
    print("4.xxxNO NUMBER IS greater than 0")

1.either of the number is greater than 00000
4.xxxNO NUMBER IS greater than 0

In [52]:
a = 56
if not a:
    print("boolean value of a is true")
if not (a % 3 == 0  or a % 8 == 0):
        print("56 is not divisible by either 3 or 8")

else:
      print("56 is divisible by either 3  or 5 ")

56 is divisible by either 3  or 5

In [56]:
a = 64
if a:
    print("boolean value of a is true")

if (a % 3 == 0  or a % 8 == 0):
        print("56 is  divisible by either 3 or 8")

else:
      print("56 is not  divisible by either 3  or 5 ")

boolean value of a is true
56 is  divisible by either 3 or 8

In [61]:
def check(x):
    print("method called for value", x)
    return x > 0

a = check
b = check
c = check 
d = check

if a(-1) or b(-5) or c(-10) or d(14):
    print("at least one of the number is positive")

method called for value -1
method called for value -5
method called for value -10
method called for value 14
at least one of the number is positive

In [69]:
a = [1,2,3,4]
b = [1,2,3,4]

c = a 

print(a is not  c)
print(a is not b)

print("id-a",id(a))

print("id-c",id(c))

print("id-b",id(b))

False
True
id-a 128208952733184
id-c 128208952733184
id-b 128208968139712

In [73]:
a="anjireddy"
b=a

print("id-a,b",id(a),id(b))

print(a is b)
print(b is a)

id-a,b 128208968384048 128208968384048
True
True

In [75]:
d = [1 ,8,9,4,6,5] 
print(8 in d)

print(1112 in d)

True
False

In [79]:
v = "fndsfkldsfklsdtyetjrvet v npoethacgdfasjkoduiwedqw0eiwixmpnort"

print("g" in v)

print("sex" in v)

True
False

In [82]:
c = {"name":"anji", "age":34}
print("anji" in c) 
print("name" in c)

print("anji" in c.values())

False
True
True

In [83]:
s = ["ram","kick","bny","visa"] 

t = "bny" 
if t in s:
    print("available")
else:
    print("not-available")

available

In [84]:
marks = 80 
result = ""
if marks < 30:
   result = "Failed"
elif marks > 75:
   result = "Passed with distinction"
else:
   result = "Passed"

print(result)

Passed with distinction

In [92]:
m = int(input("enter the marks values"))


if m < 30:
    r= "failed"
elif m > 75:
    r = "passed with distinction" 
else: 
    r = "passed"
print(r)

passed

In [ ]:
w = [4,8,5,8,7,85,4,8,4,5,4]
for i in w:
    print(i,end=",")

4,4
8,8
5,5
8,8
7,7
85,85
4,4
8,8
4,4
5,5
4,4

In [111]:
for i in range(1,5):
    print(i,sep=",")

1
2
3
4

In [127]:
for i in range(1,100,5):
    print(i,end=",")

1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96,

In [125]:
i = 1 
while i <= 100:
    print(i,end=",")
    i += 1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [2]:
print("helio")

for i in range(1,10):
    print(i,end=",")

helio
1,2,3,4,5,6,7,8,9,

In [9]:
x = 0
while x < 10:

    print(x,end=",")
    if x == 3:
        #print("breaking")
        break

    x += 1

0,1,2,3,

In [15]:

a = 5
while a <= 15:
    print(a,end=",")
    a += 1

5,6,7,8,9,10,11,12,13,14,15,

In [19]:
for letter in "anjireddyvelpulavenkata":
    if letter == "r":
        continue
    print("current letter ", letter)

current letter  a
current letter  n
current letter  j
current letter  i
current letter  e
current letter  d
current letter  d
current letter  y
current letter  v
current letter  e
current letter  l
current letter  p
current letter  u
current letter  l
current letter  a
current letter  v
current letter  e
current letter  n
current letter  k
current letter  a
current letter  t
current letter  a

In [32]:
for letter  in ["aaaaaaaaaaaaaaaaaaaaaaa","bbbbbbbbbbb","cc","ffff","tt"]:
    #print(letter,end=",")
    if letter == "cc":
        #print(letter)
        break
    print(letter)

aaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbb

In [39]:
def anji(n):
    return n % 2 == 0

n = int(input("enter the value"))
#n =5
if anji(n):  
    print(n ,"is even number")
else:
    print(n," is odd number",n)

56 is even number

In [46]:
def kick(x):
    match x:

        case 1:
            print(x)
        case 2:
            print(x)
        case _:
            print("no one case matched total different number")        
kick(1)
kick(125)

1
no one case matched total different number

In [49]:
def kaira(x):
    match x:
        case 10 | 20 | 30:
            print(f"matched: {x}")
        case _:
            print("no match case found")    

kaira(10)
kaira(20)
kaira(25)

matched: 10
matched: 20
no match case found

In [50]:
def access(user):
    match user:
        case "admin" | "manager": return "Full access"
        case "Guest": return "Limited access"
        case _: return "No access"

print (access("manager"))
print (access("Guest"))
print (access("Ravi"))

Full access
Limited access
No access

In [14]:
def greeting(details):
    match details: 
        case [time, name]:
            return f'good {time} {name}!'
        
        case [time, *names]:
            msg=''

            for name in names:
                msg+=f'good {time} {name}!\n'
            return msg    


print(greeting(["evening","reddy","kick","fuck","sex"]))
greeting([2,3])
greeting(["morning", "ravi"])
greeting(["xxxxx"])
#greeting(["evening","reddy","kick","fuck","sex"])
# print(greeting(["morning", "ravi"]))
# print(greeting(["afternoon", "guest"]))

good evening reddy!
good evening kick!
good evening fuck!
good evening sex!

''

In [15]:
def intr(x):
    match x:
        case [amt, duration] if amt<10000:
            return amt*10*duration/100
        
        case [amt, duration] if amt>=10000:
            return amt*15*duration/100
        
print(intr([5000,5]))

2500.0

In [17]:
zen = """
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.

"""

for char in zen:
    if char not in "aeiou":
        print(char,end="")

Btfl s bttr thn gly.
Explct s bttr thn mplct.
Smpl s bttr thn cmplx.
Cmplx s bttr thn cmplctd.

In [18]:
n = (44,5,55,22,55,5,888,4545,5,5,)
total = 0
for num in  n:
    total += num
print(total)

5629

In [22]:
list = [7,8,9,555,8,48898,555,85,45,845,455,4,88747,789,5]
for num in list:
    if num%2==1:



     print(num)

7
9
555
555
85
45
845
455
88747
789
5

In [32]:
num = {10:"a",20:"b",30:"c"} 

for n in num:

    print(num[n],n,n+1)

a 10 11
b 20 21
c 30 31

In [49]:
for num in range(10,20):
    for i in range(2,num):
        #print(i,end="=")
        if num%i == 0:
            j=num/i
            print("%d equals %d * %d" % (i,num,j))
            break

2 equals 10 * 5
2 equals 12 * 6
2 equals 14 * 7
3 equals 15 * 5
2 equals 16 * 8
2 equals 18 * 9

In [52]:
for letter in "python":
    if letter == 'h':
        pass
        print("THIS IS A PASS-BLOCK/HH")
    print('current letter', letter)

current letter p
current letter y
current letter t
THIS IS A PASS-BLOCK/HH
current letter h
current letter o
current letter n

In [53]:
for letter in "python":
    if letter == 'h':
        continue
        print("THIS IS A PASS-BLOCK/HH")
    print('current letter', letter)

current letter p
current letter y
current letter t
current letter o
current letter n

In [55]:
mont = ["jan","feb","mar"]
days = ["sun","mon","tue"]
for x in mont:
    for y in days:
        print(x,y)

print("good- boy")

jan sun
jan mon
jan tue
feb sun
feb mon
feb tue
mar sun
mar mon
mar tue
good- boy

In [56]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [66]:
rows = 5
k = 0
for i in range(1, rows+1):
    for  j in range(i):

         print("1", end="")
    print()

1
11
111
1111
11111

In [60]:
i = 1+2+3+4+5
print(i)

15

In [ ]:
n = 4 
for i in range(1, n+1):
    #print(i)
    for j in range(1,n+1):
        #print(j,end=",")
        print(f"{i * j:2d}",end="")

    print()

 1 2 3 4
 2 4 6 8
 3 6 912
 4 81216

In [8]:
i =2 
while(i<25):
    print(i,end=",")
    j=2
    while(j<=(i/j)):
        if not(i%j): break
        j =j+1
    if (j>i/j):
        print(i)
    i = i + 1
print("nice")

2,2
3,3
4,5,5
6,7,7
8,9,10,11,11
12,13,13
14,15,16,17,17
18,19,19
20,21,22,23,23
24,nice

In [28]:
mark = int(input("enter the value"))
if mark >= 75:
    print("AAAgrade")
elif mark >= 60:
    print("BBBBB-brade")    
elif mark >= 50:
    print("CCCCCCCC-grade")


elif mark >= 40:
    print("DDDD=grade")
elif mark >= 35:
    print("EEEEEEE-grade")        
# else:
#     print("FAIL_FF")

CCCCCCCC-grade

In [32]:
for i in range(1,15,2):
    print(i,end=",""\n")

for s  in range(-19,1,2):
    print(s,end=",")

1,
3,
5,
7,
9,
11,
13,
-19,-17,-15,-13,-11,-9,-7,-5,-3,-1,

In [34]:
for i in range(0,35,2):
    print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,

In [35]:
for i in range(1,35,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,

In [37]:
for  i in range(1,21):
    if i%2!=0:
        print(i,end=",")

1,3,5,7,9,11,13,15,17,19,

In [41]:
num = [1,8,895,555,2,5,5,4,89,8,9,9,6,6,2,44,1,2,4,56,623,5] 

for nu in  num:
    if nu %2 != 0:
        print(nu)

1
895
555
5
5
89
9
9
1
623
5

In [13]:
def anji(a,b):
    assert b != 0, "A NEECH COMANNE KUTHR"
    return a / b
print(anji(10,20))
print(anji(4,0))

0.5

AssertionError: A NEECH COMANNE KUTHR

In [14]:
def divide(a, b):
    # Assertion: b should not be zero
    assert b != 0, "Error: Cannot divide by zero!"
    return a / b

# This call works as expected
print(divide(10, 2)) 

# This call fails and raises an AssertionError
print(divide(10, 0))

5.0

AssertionError: Error: Cannot divide by zero!

In [15]:
# initializing number
a = 4
b = 0

# using assert to check for 0
print("The value of a / b is : ")
assert b != 0
print(a / b)

The value of a / b is :

AssertionError:

In [17]:
# Initializing variables
x = 10
y = 20

# Asserting a boolean condition
assert x < y

# Printing the values of x and y
print("x =", x)
print("y =", y)

x = 10
y = 20

In [18]:
x = 5 
y = 45
assert  x<y
print(x)
print(y)

5
45

In [ ]:
batch = [40,25,26,4,5,88,99,5,886,5,555,555,888,555,6662]

cut = 26
for i in batch:
    assert i >= 26, "below 26 values are auto rejected"
    print(i)

40

AssertionError:   below 26 values are auto rejected

In [20]:
# Python 3 code to demonstrate 
# working of assert 
# Application

# initializing list of foods temperatures
batch = [ 40, 26, 39, 30, 25, 21]

# initializing cut temperature
cut = 26

# using assert to check for temperature greater than cut
for i in batch:
    assert i >= 26, "Batch is Rejected"
    print (str(i) + " is O.K" )

40 is O.K
26 is O.K
39 is O.K
30 is O.K

AssertionError: Batch is Rejected

In [39]:

co = (10,20,52)
for i in co:
    #print(i,end=",""\n")
    #print(f"sex:{i}")
    print(f"fuck:       {i}")

fuck:       10
fuck:       20
fuck:       52

In [55]:
g = {"name":"anji","age":34}
#print(g)
for gg , hh in g.items():
    #print(gg)
    print(f"{gg} is {hh}")

print()

name is anji
age is 34

In [70]:
num = [7,7,9,11,3,15,7,7,7,7,7,7,2,-1,4,-5]
for nu in num:
    if nu < 0:
        print("mistake u given nagetive number",nu)
        break
    if nu % 2 != 0:
        print(nu,end=",")
        continue
       
    print(f"processing positive even numbr {nu}")

7,7,9,11,3,15,7,7,7,7,7,7,processing positive even numbr 2
mistake u given nagetive number -1

In [75]:
x = int(input("enter the num"))
def odev(x):
    if x % 2 == 0:
        return "this is EVENnumber"
    
    else: 
        return "THIS IS ODD NUM "
odev(x)

'THIS IS ODD NUM '

In [88]:
def asd(x,y=9999):
    print(x)
    print(y)
asd([10,77],[22222,33333])

[10, 77]
[22222, 33333]

In [89]:
def zx(*num):
    total =0
    for i in num:
        total = i+total
    return total

zx(1,2,3)

6

In [93]:
def cv(**details):
    print("ALL DETAILS")
    for key , value  in details.items():
        print(f"{key}:   {value}")


cv(name="anji",age=35,city="vnk")

ALL DETAILS
name:   anji
age:   35
city:   vnk

In [100]:
def ww(x):
    x[0]=888
    x[4]="helo888"
list= [1,8,9,5,6,89]
ww(list)    
print(list)

def ww2(x):
    x = 222
a =   "45dgf"
ww2(a)  
print(a)

[888, 8, 9, 5, 'helo888', 89]
45dgf

In [104]:
def fa(n):
    if n == 0:
        return 1
    else:
        return n * fa(n-1)
print(fa(4))

24

In [105]:
import math
n = 6 
v = math.factorial(n)
print(v)

720

In [107]:
import numpy as np
n = 6 

v=np.prod(range(1,n+1))
print(v)

720

In [112]:

n = 6
f = 1
for i in range(1,n+1):
    f = f*i
print(f)

720

In [120]:
def fact(n):
    
  if n<=1:
    return 1
  else: 
    return  n * fact(n-1)
print(fact(6))

720

In [121]:
def fact(n):
    return 1 if n<=1 else n*fact(n-1)
print(fact(6))

720

In [127]:
import math
def fac(n):
    try:
        if n<0:
            return "nagative given"
        else: 
            return math.factorial(n)
    except ValueError as e:
        return f"Error: {e}"
num = 5
fact(5)
#print(f"the facral of {num}  is fact(num)")

120

In [128]:
def fact(n):
    if n == 1 or n == 0:
        return 1 
    else:
        return n * fact(n-1) 
num =5
fact(5)

120

In [131]:
def sum():
    s = " i love geeks for geeks"

    print(s)
sum()

 i love geeks for geeks

In [148]:
def dd():
    c =10
    print(c)
dd()    
print(c)

10

NameError: name 'c' is not defined

In [154]:
local1 = "THIS IS A GLOBAL-VALUE-DECLARED"
def internal():
    local1 = "local values WITHIN  FUNCTION"
    print(local1)

internal()
print(local1)

local values WITHIN  FUNCTION
THIS IS A GLOBAL-VALUE-DECLARED

In [163]:
x = "th is a GLOBAL"
def j():
    global x
    print(x)
   
    x = "this is a INTERNAL-value"
    print(x)

j()
print(x)

th is a GLOBAL
this is a INTERNAL-value
this is a INTERNAL-value

In [169]:
d,f = 5,10
def bb(x,y):

    print(d+f)
bb(x,y)

15

In [180]:
g,y = 2,5
def ww():


    print(g+y)

ww()

7

In [203]:
a = "MAIN-global11"
def f():
    print("local-ff:",a)
#f()
def gg():
    a = "gg-local"
    print("local-gg",a)
#gg()
def hh():
    global a 
    a = "sexxxxxxxx"
    print("CALLING-a==>value to local",a)
#hh()
#print(a)
print()

hh()
print()

print(a)
gg()
print()

print(a)

f()
print()

print(a)

CALLING-a==>value to local sexxxxxxxx

sexxxxxxxx
local-gg gg-local

sexxxxxxxx
local-ff: sexxxxxxxx

sexxxxxxxx

In [194]:
z = 4
def y():
    global z
    z = "double-call"
    print(z)
y()

double-call

In [4]:
a = [1, 2, 3, 4, 5]

# Use map() with lambda to square each number
b = map(lambda x: x**2, a)

# Convert the map object to a list and print it
print(list(b))

[1, 4, 9, 16, 25]

In [209]:
a = [1, 2, 3, 4, 5]
b = map(lambda x: x**2, a)
print(b)

<map object at 0x7e3dcc2b5f00>

In [3]:
a = [1, 2, 3]
b = [4, 5, 6]

# Use map() with lambda to add corresponding elements
c = map(lambda x, y: x + y, a, b)

# Convert the map object to a list and print it
print(list(c))

[5, 7, 9]

In [2]:
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)

[2, 4, 6, 8, 10]

In [1]:
a = [1, 2, 3, 4, 5]

# Use map() with a lambda function to multiply each element in the list 'a' by 3
multiplied = map(lambda x: x * 3, a)
print(list(multiplied))

[3, 6, 9, 12, 15]

In [5]:
a = [1,2,3,4,5]
b = map(lambda x: x**2, a)
print(list(b))

[1, 4, 9, 16, 25]

In [ ]:
data = (2,2,2,2,2,2,2)
g = map(lambda x: x**x  ,data)
print(list(g))

[0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]

In [19]:
x = [7,8,9]
y = [8,9,1]

c = map(lambda x,y: x+y   , a,b)
print(list(c))

[5, 7, 9]

In [21]:
d = ["fsdfhasdfhasdfklasdhfkl"]
v = map(lambda x:  x.upper(), d)
print(list(v))

['FSDFHASDFHASDFKLASDHFKL']

In [34]:
import cal
f = cal.c(4,3)
print(f)

7

In [38]:
from math import sqrt, factorial
f = factorial(5)
print(f)
h = sqrt(164684565)
print(h)

120
12832.948414140845

In [44]:
from math import *
d = pow(2,5)
g= pi
print(d,g)

32.0 3.141592653589793

In [46]:
from math import *
d = lcm(10,2)
print(d)

10

In [48]:
import math as sex
print(sex.pi)

3.141592653589793

In [ ]:
import sys
f = sys.path
print(f)

['/home/bny/anaconda3/envs/kaira-310/lib/python310.zip', '/home/bny/anaconda3/envs/kaira-310/lib/python3.10', '/home/bny/anaconda3/envs/kaira-310/lib/python3.10/lib-dynload', '', '/home/bny/anaconda3/envs/kaira-310/lib/python3.10/site-packages']

In [52]:
import sys 
for p in sys.path:
    print(p)

/home/bny/anaconda3/envs/kaira-310/lib/python310.zip
/home/bny/anaconda3/envs/kaira-310/lib/python3.10
/home/bny/anaconda3/envs/kaira-310/lib/python3.10/lib-dynload

/home/bny/anaconda3/envs/kaira-310/lib/python3.10/site-packages

In [63]:
import os
os.path
#os.mkdir("os_m_create")
os.listdir(".")

['test-train1.ipynb',
 'test=flask.py',
 'colors-models.ipynb',
 'ml-ops.Jenkinsfile',
 'requirements.txt',
 'feature_importance.png',
 'mlruns',
 'get-deploy.py',
 'train-model.ipynb',
 'ALL-mails.txt',
 'train-model-2.ipynb',
 'flask-flask.py',
 'first_experiment.py',
 '__pycache__',
 'mlflow.sh',
 'GITLAB-ci-cd.yaml',
 'http',
 'ADDRESS-',
 'get-svc.py',
 'os_m_create',
 '.venv',
 'import-date-time.py',
 'dynatrce.txt',
 'MLOPS-jenkins-cicd.groovy',
 'cal.py',
 'get-pods.py',
 'model-manage.ipynb']

In [66]:
# sys = system specific parameters
import sys
sys.version
sys.path

['/home/bny/anaconda3/envs/kaira-310/lib/python310.zip',
 '/home/bny/anaconda3/envs/kaira-310/lib/python3.10',
 '/home/bny/anaconda3/envs/kaira-310/lib/python3.10/lib-dynload',
 '',
 '/home/bny/anaconda3/envs/kaira-310/lib/python3.10/site-packages']

In [83]:
import shutil
#os.mkdir("bb")
# shutil.copy("a.txt","b.txt")
shutil.rmtree("bb")

In [96]:
from pathlib import path 
p = path("data.txt")
print(p.exists())

print(p.absolute())

ImportError: cannot import name 'path' from 'pathlib' (/home/bny/anaconda3/envs/kaira-310/lib/python3.10/pathlib.py)

In [107]:
from datetime import datetime, date
h = datetime.now()
print(h)

f = date.today()
print(f)

2026-01-17 23:28:09.122785
2026-01-17

In [114]:
import time

time.time()

time.sleep(2)

In [121]:
import math 
print(math.sqrt(25))
print(math.pi)
print(math.factorial(5))

5.0
3.141592653589793
120

In [151]:
import random 
print(random.randint(1,10000))
print(random.choice(["a","b","c"]))

1731
c

In [160]:
import json 

data = {"name": "AI", "year":2026}

js=json.dumps(data)
print(json.loads(js))

{'name': 'AI', 'year': 2026}

In [162]:
import csv 
with open("data1.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["id", "name"])
    writer.writerow([1,"fff"])

In [170]:
from collections import Counter , defaultdict 
c = Counter("banana")
print(c)

d = defaultdict(int)
d["a"] = d["a"] + 1
print(d)

Counter({'a': 3, 'n': 2, 'b': 1})
defaultdict(<class 'int'>, {'a': 1})

In [ ]:
import re 
text = "my number is 98765 "
result = re.findall(r"\d+", text)
print(result)

['98765']

In [177]:
import threading 
def task():
    print(" running thread1")

# t = threading.Thread(target=task)    
# t.start()

task()

 running thread1

In [ ]:
from multiprocessing import Process
def  work():
    print(" process running")
p = Process(target=work)
work() 
p.start()

 process running
 process running

In [183]:
from urllib.request import urlopen
rs = urlopen("https://google.com")
print(rs.read()[:100])

b'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en-IN"><head><meta cont'

In [184]:
import socket 
s = socket.socket() 
print("helo-create")

helo-create

In [ ]:
import logging 
logging.basicConfig(level=logging.INFO)
logging.info("this is an info message")

INFO:root:this is an info message

In [ ]:
import logging 
logging.basicConfig(level=logging.INFO)
logging.info("this is an info message")

INFO:root:this is an info message

In [195]:
import traceback 
try:
    1/0
except:
    traceback.print_exc()

Traceback (most recent call last):
  File "/tmp/ipykernel_815006/1500064272.py", line 3, in <module>
    1/0
ZeroDivisionError: division by zero

In [198]:
import unittest

class TestMath(unittest.TestCase):
    def test_add(self):
        self.assertEqual(2 + 3, 5)

unittest.main()

usage: ipykernel_launcher.py [-h] [-v] [-q] [--locals] [-f] [-c] [-b]
                             [-k TESTNAMEPATTERNS]
                             [tests ...]
ipykernel_launcher.py: error: argument -f/--failfast: ignored explicit argument '/run/user/1000/jupyter/runtime/kernel-v3135958cda4f05ed08086227f0e65fa9576138440.json'

SystemExit: 2

In [199]:
import argparse
parser = argparse.ArgumentParser()
parser.add_argument("--name")
args = parser.parse_args()
print(args.name)

usage: ipykernel_launcher.py [-h] [--name NAME]
ipykernel_launcher.py: error: unrecognized arguments: --f=/run/user/1000/jupyter/runtime/kernel-v3135958cda4f05ed08086227f0e65fa9576138440.json

SystemExit: 2

/home/bny/anaconda3/envs/kaira-310/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3587: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [203]:

import os 
print (os.getcwd())
print(os.listdir('.'))

/home/bny/Desktop/python-code
['data.txt', 'test-train1.ipynb', 'test=flask.py', 'colors-models.ipynb', 'ml-ops.Jenkinsfile', 'requirements.txt', 'feature_importance.png', 'mlruns', 'get-deploy.py', 'train-model.ipynb', 'ALL-mails.txt', 'train-model-2.ipynb', 'flask-flask.py', 'a.txt', 'first_experiment.py', '__pycache__', 'data1.csv', 'mlflow.sh', 'GITLAB-ci-cd.yaml', 'http', 'ADDRESS-', 'get-svc.py', 'os_m_create', '.venv', 'import-date-time.py', 'dynatrce.txt', 'MLOPS-jenkins-cicd.groovy', 'cal.py', 'get-pods.py', 'model-manage.ipynb', 'b.txt']

In [211]:
import math 

import random 

radius = 5 

area = math.pi * pow(radius,2)
print(area)

contestants = ["Alice","Bob","Charlie"]
print(f"the winner: {random.choice(contestants)}")

78.53981633974483
the winner: Alice

In [215]:
import random
import json 
data = {"name": "gemini", "role": "ai", "active": True }

print(random.choice(data))

KeyError: 1

In [218]:
import json 
data = {"name": "aa","role": "ai","active": True}
print(list(data))
js = json.dumps(data)
print(js)

['name', 'role', 'active']
{"name": "aa", "role": "ai", "active": true}

In [220]:
import re 
text = "contact us at "
email = re.findall(r'[\w\.-]+@[\w\.-]+', text)
print(email)

[]

In [221]:
x = 10 
if x==10
print(x)

SyntaxError: expected ':' (3261665746.py, line 2)

In [235]:
def fuck(a,b):
    total = a + b
    return total

x = 8
y = 1
z = fuck(x,l)
print(z)

NameError: name 'l' is not defined

In [238]:
x = "sex"
y = 3
f = x+y
print(f)

TypeError: can only concatenate str (not "int") to str

In [241]:
y = "10"
g = 5
f = y + str(g)
print(f)

105

In [244]:
w = "20"
z = 9
x  =  int(w) + z 
print(x)

29

In [245]:
m = [1,8,9,6,5]
print(m[8])

IndexError: list index out of range

In [246]:
f = "anjireddy"
f.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [250]:
c = "how are you!"
g= c[::-1]
print(g)

!uoy era woh

In [251]:
def calculate_factorial(n):
    result = 1
    for i in range(1, n):
          result = result * i
    return result

print(calculate_factorial(5))

24

In [253]:
def calculate_factorial(n):
    result = 1
    for i in range(1, n+1):
         result = result * i
    return result

print(calculate_factorial(5))

120

In [258]:

try: 
    x = int(input("please enter the a number "))
    y = 10 / x 
    print(y)

except ValueError:
    print(" you must enter a valid int")
except ZeroDivisionError:
    print("cannot devide by zero")

 you must enter a valid int

In [281]:

try:
    n = int(input("value enter"))
    t = 8 / n
except (ValueError, ZeroDivisionError) as e:
    print(f"dfd{e}")
    print("eneter the valid non-zero number")

In [ ]:
try:
    x = [10,"12S","30"]
    total = int(x[0]) + int(x[1])
except ValueError as e:
    print(f"AA{e}")  

except TypeError as e:
    print(f"BB{e}")
except IndexError as e:
    print(f"CC{e}")
except Exception as e:
    print(f"DD{e}")    

    prin

AAinvalid literal for int() with base 10: '12S'

In [283]:
try:
    f = open("b.txt")
except OSError as e:
    print(f"an os error occured: {e}")

In [288]:
class nwer(RuntimeError):
    def __init__(self, arg):
        self.args = (arg,)
try: 
    raise nwer("Connection failed")
except nwer as e:
    print(e.args)

('Connection failed',)

In [293]:
class dgx(Exception):
    def __init__(self, age, msg="age is 0 to 120"):
        self.age = age
        self.msg = msg
        super().__init__(self.msg)
    def __str__(self):
        return f'{self.age} -> {self.msg}'
def gpu(age):
    if age < 0 or age > 120:
        raise dgx(age)  
    else: print(f'age set to: {age}')  
try: 
    gpu(150)
except dgx as e:
    print(e)

150 -> age is 0 to 120

In [291]:
class CustomError(Exception):
   def __init__(self, message):
      super().__init__(message)
      self.message = message

In [292]:
def process_data(data):
   if not data:
      raise CustomError("Empty data provided")
   # Processing logic here

In [301]:
class cpu(Exception):
    def __init__(self, message):
        self.message = message 
        super().__init__(self.message)
def ram(value):
    if value < 0:
        raise cpu(" value cannot be negative   ")
    else:
        return f"value is {value}"
try:
    re = ram(-5)    
    print(re)
except cpu as e:   
    print(e.message)

 value cannot be negative

In [11]:
try: 
    with open("b.txt", "r") as file:
        content= file.read()
        print(content)
except FileNotFoundError:
    print("no file")

hi helo b-file

In [10]:
with open('c.txt','r') as file:
     content = file.read()
     print(content)

In [ ]:
with open('example.txt', 'w') as file:
    file.write('Hello, world!')

In [14]:
with open('c.txt', 'r') as file:
    g = file.read()
    print(g)

In [1]:
with open('b.txt', 'rb') as file:
    data = file.read()

In [2]:
with open('c.txt','r+') as file:
    content = file.read()
    file.write('\n this si new line')

In [4]:
with open('c.tct', 'w+') as file:
    file.write("helo -world")
    file.seek(0)
    contect =  file.read()

In [5]:
with open("c.txt", "r") as file:
   lines = file.readlines()
   for line in lines:
      print(line, end='')

 this si new line

In [11]:
class sd:
    species = "wood"

    def __init__(self, name, age):
        self.name  = name 
        self.age = age 

    def bark(self):
        return f"{self.name} says woof!"

d1 = sd("fidi",3)
d2 = sd("buddy", 5)

#print(d1,d2)

f = d1.name
f1 = d1.age

z = sd.species

print(f,f1)
print(z)

fidi 3
wood

In [ ]:
class d:
    sound = "bark"

c = d()    
n = c.sound
print(n)

bark

In [35]:
class vegetable: 

    def __init__(self, name, price_per_kg):
        self.name = name
        self.price_per_kg = price_per_kg

    def show_details(self):
        print(f"{self.name}")    
        print(self.price_per_kg)

    def total_price(self, kg):
        return self.price_per_kg * kg      

# c = vegetable("chilly",33)
# #print(c)
# b = c.name
# n = c.price_per_kg
# print(b,n)

t = vegetable("tomato",30)
p = vegetable("potato", 25)

t.show_details()   # function -1

t.total_price(2)  # function-2

p.show_details()

p.total_price(45)

tomato
30
potato
25

1125